colors = {
  black: #212121,
  white: #ffffff,
  blue: #005A8D,
  rose: #FF96AD,
  grey: #B3B3B3,
}

$white-color = colors.white
$black-color = colors.black
$blue-color = colors.blue
$pink-color = colors.rose
$grey-color = colors.grey

$font-primary  = Indie Flower, Arial, sans-serif
$font-secondary = Merriweather, Arial, sans-serif

tablet = "only screen and (max-width: 1012px)"
tablet-up = "only screen and (min-width: 1013px)"
mobile = "only screen and (max-width: 748px)"
mobile-up = "only screen and (min-width: 749px)"

.separator
  margin 48px 0
  @media tablet
    margin: 24px 0

.button
  color white
  text-decoration: none
  font-family $font-primary
  font-size 24px
  margin-left 24px
  background-color: black
  text-transform: uppercase
  font-weight 600
  color: white
  padding: 12px 16px
  text-align: center
  display: inline-block
  border-radius 4px
  @media tablet
      font-size 16px
      margin-left 12px
      padding 8px 4px 4px 4px

.blue-content
    background: #C9ECFF
    padding 8px 12px
  
.mobile-only
	display none
	@media mobile 
		display block

.desktop-only
    display none
    @media mobile-up
        display block