@font-face
   font-family August
   src url(/hey_august/Hey-August.ttf) format('truetype'),
       url(/hey_august/Hey-August.otf) format('opentype')


colors = {
  black: #212121,
  blue: #005A8D,
  rose: #FF96AD,
  gris: #B3B3B3,
}

$black-color = colors.black
$blue-color = colors.blue
$rose-color = colors.rose
$gris-color = colors.gris


$font-primary = Lora, sans-serif
$font-secondary  = August, sans-serif

tablet = "only screen and (max-width: 1012px)"
tablet-up = "only screen and (min-width: 1013px)"
mobile = "only screen and (max-width: 748px)"
mobile-up = "only screen and (min-width: 749px)"

.mobile-only
	display none
	@media mobile 
		display block

.desktop-only
    display none
    @media mobile-up
        display block